* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #000000; /* Cor de fundo do header */
}

nav {
  padding: 20px; /* Espaçamento superior e inferior */
  display: flex; /* Usando flexbox para layout */
  justify-content: space-between; /* Espaça os itens uniformemente */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  gap: 30px;
}

.menu {
  list-style: none; /* Remove marcadores da lista */
  display: flex; /* Usando flexbox para layout */
  gap: 15px; /* Espaçamento entre os itens do menu */
  justify-content: center; /* Centraliza os itens do menu */
  flex-grow: 1; /* Permite que o menu ocupe o espaço disponível */
}

.menu li a {
  text-decoration: none; /* Remove o sublinhado do link */
  color: #ffffff; /* Cor do texto dos links */
  padding: 8px 16px; /* Espaçamento interno dos links */
  border-radius: 8px; /* Bordas arredondadas */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
}

.menu li a:hover {
  background-color: #ffffff; /* Cor de fundo ao passar o mouse */
  color: rgb(0, 0, 0); /* Cor do texto ao passar o mouse */
}

/* Container da barra de pesquisa */
.search-bar {
  position: absolute;
  top: 50%; /* Posiciona a barra verticalmente alinhada ao ícone */
  transform: translateY(-50%); /* Centraliza a barra verticalmente */
  width: 0; /* Começa com largura 0 */
  padding: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px; /* Borda arredondada */
  visibility: hidden; /* Começa invisível */
  transition: width 0.5s ease, visibility 0.5s ease, left 0.5s ease;
  z-index: 999;
}

/* Campo de pesquisa com borda arredondada */
.search-bar input {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 20px; /* Borda arredondada no campo de pesquisa */
}

/* Quando a barra de pesquisa for expandida */
.search-bar.show {
  width: 200px; /* Largura da barra ao abrir */
  visibility: visible;
}



/* Ícone de pesquisa */
nav li a i {
  font-size: 24px;
  color: white;
  transition: color 0.3s;
}

nav li a:hover i {
  color: #ccc;
}


/* Ícones */
nav li a {
  text-decoration: none;
  color: white;
}

nav li a i {
  font-size: 30px; /* Tamanho do ícone de navegação */
  color: white;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .menu {
      flex-direction: column;
      gap: 10px;
  }

  .search-container {
      width: 100%;
      justify-content: center;
  }

  #search-bar {
      width: 100%;
  }
}