@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    list-style: none;
}

/* Footer */

/* Estilo para o campo de e-mail */
footer .newsletter input.email-input {
    padding: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 80%;
    font-size: 1rem;
    border: 2px solid #ccc;
    margin-right: 10px;
    transition: border-color 0.3s ease;
}

/* Efeito de foco no campo de e-mail */
footer .newsletter input.email-input:focus {
    border-color: #007bff;
    outline: none;
}

/* Estilo para o botão de envio */
footer .newsletter button.submit-btn {
    padding: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito de hover no botão */
footer .newsletter button.submit-btn:hover {
    background-color: #0056b3;
}

.info {
    margin-top: -290px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    color: #fff;  /* Usando hexadecimal para simplificar */
    line-height: 1.8;
    padding: 0 80px;    
    
}

.info h5, 
.info a, 
.quick-links {
    color: inherit; 
    text-decoration: none;
}

.social-media {
    display: flex;              
    flex-direction: column;             
    gap: 10px;                   
    margin-top: 20px;           
}

.social-media a {
    color: #fff;               
    text-decoration: none;      
    transition: color 0.3s ease; 
}

.quick-links {
    font-size: var(--font-size-medium); 
}

#edt-icons {
    line-height: 1.8;
    transition: color 0.3s ease; 
}

#edt-icons:hover {
    color: var(--highlight-color); 
}

@media (max-width: 768px) {
    .info {
        grid-template-columns: 1fr 1fr; 
        margin-top: -150px;
    }
}

@media (max-width: 480px) {
    .info {
        grid-template-columns: 1fr;
    }

    .img-rodape-02 {
        height: 400px; 
    }
}