.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.itens-info-img {
    margin-right: 850px;
}

#figura {
    width: 330px;
    margin: 0 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.itens-info-img {
    margin-bottom: 20px;
}

.buttons-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.buttons-img {
  
    padding: 0;
    background: transparent;
    max-width: 250px;
    width: 200px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

h2 {
    margin-bottom: 5%;
}

.buttons-img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.form-group button[type="submit"] {
    padding: 10px 50px;
    border: none;
    margin-top: 50px;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #0c9100;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
   
}

.form-group button[type="submit"]:hover {
    background-color: #0a7400;
    

}

.buttons-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.sell-color {
    color: #E20702;
}

.informacoes {
    margin-top: -600px;
    color: aliceblue;
    border-color: #E20702;
    border-radius: 5px;
    border-style: solid; /* Definindo o estilo da borda */
    border-width: 5px; /* Largura da borda */
    background-color: #343434;
    width: 40%;
    margin-left: 850px;
    padding: 60px;
    margin-bottom: 20px;
    background: #2d2d2d;
}

.versao {
    gap: 20px;
    margin-right: 100px;
    text-align: center;
    height: 30px;
    width: 98%;
}

.preco-info {
    margin-top: 50px;
}

.pronto-entrga{
    background: none;
    color: #00a000;
    margin: 10px 0 0 0;
    font-size: 12px;
    text-align: left;
}

.frete{
    background: none;
    color: #00a000;
    margin: 8px 0 0 0;
    font-size: 12px;
    text-align: left;

    
}

.vendido-por{
    background: none;
    color: #bababa;
    margin: 8px 0 0 0;
    
    text-align: left;
}

.buttons-container {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    margin-top: 100px;
    position: relative; /* Permite o posicionamento absoluto das setas dentro do contêiner */
}

.seta-left, .seta-right {
    cursor: pointer;
    font-size: 24px; /* Tamanho do ícone */
    position: absolute; /* Posiciona as setas em relação ao contêiner pai */
    top: 50%; /* Alinha as setas ao meio da altura do contêiner */
    transform: translateY(-50%); /* Ajusta as setas para que fiquem perfeitamente centradas verticalmente */
}

.seta-left {
    margin-left: 400px;
}

.seta-right {
 
    margin-right: 400px;
}

#figura {
    width: 330px;
    margin: 0 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.details{
    cursor: pointer;
    border-radius: 5px;
    
    height: 25px;
    background: rgb(255, 255, 255);
    width: 80%;
    
}
.descricao{
    display: flex;
    justify-content: center;
    align-items: center;
}